<div>
  <h2>Nuevo Heroe <i class="bi bi-person-add"></i></h2>

  <form>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Deku" />
    </div>
    <div class="mb-3">
      <label for="superpower" class="form-label">Super Poder</label>
      <input
        type="text"
        class="form-control"
        id="superpower"
        placeholder="All for One"
      />
    </div>
    <div class="mb-3">
      <label for="universe" class="form-label">Universo</label>
      <input
        type="text"
        class="form-control"
        id="universe"
        placeholder="My Hero Academia"
      />
    </div>
  </form>
</div>
