<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-12">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12" *ngFor="let heroe of heroes">
          <app-heroe-ua
            [hero]="heroe"
            (emitEditHero)="editHeroe($event)"
            (emitDeleteHero)="deleteHeroe($event)"
          ></app-heroe-ua>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-12">
      <div class="form-heroe">
        <app-newheroe-ua
          (emitNewHero)="newHeroe($event)"
          *ngIf="create"
        ></app-newheroe-ua>
        <app-editheroe-ua
          [hero]="heroe"
          (emitUpdateHero)="updateHeroe($event)"
          (emitCancel)="cancel()"
          *ngIf="!create"
        ></app-editheroe-ua>
      </div>
    </div>
  </div>
</div>
