.container-fluid {
    min-height: 100vh;
    background-color: #c5e0dc;
}

.form-heroe {
    margin-top: 50px;
    padding: 60px;
    border: rgb(153, 153, 153) 3px solid;
    border-radius: 10px;
    width: 100%;
    background-color: white;
}