<div class="card">
  <div class="postion-relative">
    <div class="m-3">
      <img
        class="img-fluid"
        src="https://th.bing.com/th/id/R.3b346ee05a3d354e4c533240858cd256?rik=nvvisjlBnGQ8og&riu=http%3a%2f%2fimages6.fanpop.com%2fimage%2fphotos%2f38200000%2fSuperman-Artwork-superman-38273746-1500-1463.jpg&ehk=FhM%2fTtqYJQ%2bo4Bt7eJGYCD3v2QSRYIQwzxvgkRSbu%2bE%3d&risl=&pid=ImgRaw&r=0"
        alt="{{ hero.name }}"
      />
    </div>
    <div class="text-center mx-3">
      <h5 class="card-title fw-bold">{{ hero.name }}</h5>
      <h6 class="card-title">{{ hero.universe }}</h6>
      <p class="card-description mb-0 text-muted subtitle">
        {{ hero.superpower }}
      </p>
    </div>
    <div class="mx-3 mb-3 mt-4 d-flex align-items-center">
      <span
        class="badge bg-primary d-flex justify-content-center align-itesm-center"
      >
        <i class="bi bi-telephone"></i>
      </span>
      <p class="mb-0 ms-2">21313131231</p>
    </div>
    <div class="mx-3 mb-3 mt-4 d-flex align-items-center">
      <span
        class="badge bg-primary d-flex justify-content-center align-itesm-center"
      >
        <i class="bi bi-card-heading"></i>
      </span>
      <p class="mb-0 ms-2">21313131231</p>
    </div>
    <div class="position-absolute options">
      <i class="bi bi-pencil-square ms-3" (click)=""></i>
      <i class="bi bi-trash ms-3"></i>
    </div>
  </div>
</div>
